.list-group {
    display: flex;
    justify-content: center;
}

.list-group > * {
    width: 100%;
    text-align: center;
}

#colder {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.navbar {
    margin-bottom: 1em;
}

.formularioIndiv {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.form-floating {
    width: 100%;
}

.flecha {
    vertical-align: middle;
    margin-left: 0.5em;
}

.icon {
    width: 5%;
    margin-left: 2%;
    margin-top: 0.5em;
}

.icono {
    font-size: 3em;
}

.btn {
    margin: 2.5%;
}